<div>
  <code *ngIf="tokenResponse?.data | async as result">{{ result }}</code>
  <section [ngSwitch]="tokenResponse?.status| async">
    <code *ngSwitchCase="Status.Loading">Loading...</code>
  </section>
</div>
<br/>
<br/>
<div>
  <button (click)="callBackendApi()">Call Backend API</button>
  <p>Result:</p>
  <code *ngIf="backendResponse?.data | async as result">{{ result }}</code>
  <section [ngSwitch]="backendResponse?.status| async">
    <code *ngSwitchCase="Status.Loading">Loading...</code>
  </section>
</div>
<br/>
<br/>
<div>
  <input [(ngModel)]="targetUrl" size="50" (keyup.enter)="callThroughBackendApi()" />
  <button (click)="callGraphApi()">Call API</button>
  <p>Result:</p>
  <code *ngIf="graphResponse?.data | async as result">{{ result }}</code>
  <section [ngSwitch]="graphResponse?.status| async">
    <code *ngSwitchCase="Status.Loading">Loading...</code>
  </section>
</div>
<br/>
<br/>
<div>
  <input [(ngModel)]="targetUrlBackend" size="50" (keyup.enter)="callThroughBackendApi()" />
  <button (click)="callThroughBackendApi()">Call API (through backend)</button>
  <p>Result:</p>
  <code *ngIf="delegatedResponse?.data | async as result">{{ result }}</code>
  <section [ngSwitch]="delegatedResponse?.status| async">
    <code *ngSwitchCase="Status.Loading">Loading...</code>
  </section>
</div>
<br/>
<br/>
<div>
  <a href="/.auth/logout">
    <button>Logout</button>
  </a>
</div>