<div class="container">

  <div class="row mt-5">
    <div class="col">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Display Token">
          <ng-template ngbPanelContent>
            <pre *ngIf="tokenResponse?.data | async as result">{{ result }}</pre>
            <section [ngSwitch]="tokenResponse?.status| async">
              <code *ngSwitchCase="Status.Loading">Loading...</code>
            </section>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>


  <hr>
  <div class="row mt-3">

    <div class="col">
      <h2>Invoke the API</h2>
      <button (click)="checkApiHealth()" type="button" class="btn btn-primary">Test API health</button>

      <p *ngIf="backendResponse?.data">Result:</p>
      <code *ngIf=" backendResponse?.data | async as result">{{ result }}</code>
      <section [ngSwitch]="backendResponse?.status| async">
        <code *ngSwitchCase="Status.Loading">Loading...</code>
      </section>
    </div>
  </div>


  <div class="row mt-3">

    <div class="col">

      <button (click)="callThroughBackendApi()" type="button" class="btn btn-primary">Call API
        OnBehalfOf</button>

      <p *ngIf="delegatedResponse?.data">Result:</p>
      <code *ngIf=" delegatedResponse?.data | async as result">{{ result }}</code>
      <section [ngSwitch]="delegatedResponse?.status| async">
        <code *ngSwitchCase="Status.Loading">Loading...</code>
      </section>
    </div>
  </div>



</div>